<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen">
    <link href="https://fonts.googleapis.com/css?family=Arapey" rel="stylesheet">
    @* <link href="/Contents/css/styles.css" rel="stylesheet" type="text/css"> *@
    @* <script src="https://code.jquery.com/jquery-3.1.1.js"></script> *@
    @* <script type="text/javascript" src="/Contents/js/scripts.js"></script> *@
    <title>HARVARD REGISTRAR</title>
  </head>
  <body>
    <div class="container">
      @RenderBody()
    </div>
    <div class="footer">Do not contact us at <a href="mailto:webmaster@harvard.edu">Harvard Dean</a></div>
  </body>
</html>
