@{
    Layout="Shared/_Layout.cshtml";
}

<div class="row">
  <div class="col m12">
    <div class="card  light-blue lighten-5">
      <div class="card-image">
        <img src="/Contents/img/Harvard.jpg">
        <span class="card-title">Institute of Human History</span>
      </div>
      <div class="card-content">
        View List of Students or View list of Courses
      </div>
      <div class="card-action">
        <a href="/students">View Students</a>
        <a href="/courses">View Courses</a>
      </div>
    </div>
  </div>
</div>
